<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Home page</title>
</head>

<body>
    <Center><h1>ATN Toy Store</h1></Center>
    <center><div style="width: 50%;">
        <form action="/insert" method="post">
            <div class="mb-3">
                <label class="form-label" for="txtName"> Product Name</label>
                <input type="text" class="form-control" name="txtName" id="txtName">
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtPrice"> Price</label>
                <input type="text" class="form-control" name="txtPrice" id="txtPrice">
            </div>
            <div class="mb-3">
                <label class="form-label" for="txtURL"> Picture</label>
                <input type="text" class="form-control" name="txtURL" id="txtURL">
                <span style="color: red;">{{picError}}</span>
            </div>
            <input type="submit" class="btn btn-primary" value="Insert">
        </form>
    </div></center>

    <hr>
   <center><table border="1" width="50%">
        <tr>
            <center><td>id</td></center>
            <center><td>Name</td></center>
            <center><td>Price</td></center>
            <center><Td>Picture</Td></center>
            <center><td>Edit</td></center>
        </tr>
        {{#each products}}
        <tr>
            <td>
                <a onclick="return confirm('Are your sure?')" href="/delete/{{_id}}"> {{_id}}</a>
            </td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td><img src="{{picURL}}" width="120" height="100" /></td>
            <td>
                <a href="/edit/{{_id}}">Edit</a>
            </td>
        </tr>
        {{/each}}
    </table></center>

</body>

</html>